*{
    /* tak bydefault extra margin n mle hmare elemnts ko, sare hum set krein khd */
    margin: 0; 
    font-family: Arial;
    /* likhe ya n but its good practice */
    border: border-box;
    text-decoration: none;

}

.navbar{


    height: 60px;
    background-color:#0f1111;
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}





.logo{

    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{

    border-radius: 1.5px solid transparent;
    height: 50px;
    width: 100px;
}

.border:hover{

    border:1.5px solid white ;
}


/* box 2 */

.add-first{

    font-size:0.8rem ;
    color:#cccccc ;
    margin-left:15px ;
}

.add-sec{

    font-size:1rem;
    margin-left:3px ;

}
.add-icon{

    display: flex;
    align-items: center;
}

/* 3rd box */

.nav-search{
    display: flex;
    justify-content: space-evenly;
    background-color: pink;
    border-radius: 4px;
    height: 40px;
    width: 620px;
}

.nav-search:hover{
    border: 2px solid orange;

}

.search-icon{

    background-color:#febd68;
    
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    border-top-right-radius:4px;
    border-bottom-right-radius:4px;
    color: #0f1111;
    
}
.search-select{

    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border: none;
}

.search-input{

    width:100%;
    font-size: 1rem;
    border: none;
}

/* 4th box */
span{

    font-size:0.7rem;
    color: #D6D6D6;
}

.nav-sec{

    font-size: 0.85rem;
    color: #D6D6D6;
    font-weight: 700;
}

/* 6th box */

/* agr muj aese styling apply krni h jo usi icon pr apply ho jo mre navcart clas k andr aae
then uske liye is trh se syntx lkh skhte hy */
.nav-cart i {

    font-size: 30px;
}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* 7th box */
/* pannel start */

.pannel{

    height: 40px;
    background-color: #222f3d;
    display: flex;
    color: #ffffff;
    align-items: center;
    justify-content: space-evenly;
}

.pannel-ops p {

    display: inline;
    margin-left: 15px;
    
}

.pannel-ops{

    width: 90%;
    font-size: 0.85rem;
    
}

/* hero section start */

.hero-section{

    background-image: url(hero_image.jpg);
    background-size: cover;
    height:370px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.hero-message a {

    color: #007185;
    text-decoration: underline;

}

/* shop section start */

h2{

    color: black;
}

.shop-section{

    display: flex;
    /* to last 4 box come into sec row we set flex wrap */
    flex-wrap: wrap; 
    justify-content: space-evenly;
    background-color: #e2e7e6;
    text-decoration: none;
    
}

.box{
    
    
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
    
}

.box-img{

    /* background-image: url("box1_image.jpg"); */
    background-size: cover;
    height: 300px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.box-content{

    margin-left: 1rem;
    margin-right: 1rem;
}

.box-content p {
    color: #222f3d;
}


/* footer start */

footer{

    margin-top: 15px;
}
.foot-panel1{

    background-color: #37475a;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 0.5rem;
   
}

.foot-panel2{

    background-color:#222f3d;
    color: white;
    height: 500px;
    display: flex;
    justify-content: space-evenly;
    
}

ul a{
    display: block;
    font-size: 0.85rem;
    margin-top: 15px;
    color: #DDDDDD;
}

ul {

    margin-top: 35px;
}

.foot-panel3{

    background-color: #222f3d;
    border: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo{

    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;   
}

.foot-panel4{

    background-color: #222f3d;
    color: white;
    height: 80px;
    font-size: 0.7rem;
    text-align: center;
}

.pages{
    font-size: 0.7rem;
    text-align: center;
    padding-top: 25px;
}

.copyright{

    
    padding-top: 5px;
    
}

/* electronics part */
.electronics{

    height: 300px;
    width: 97%;
    /* border: 2px solid black; */
    display: flex;
    margin-top: 20px;
    align-items: center;
    background-color: white;
}

.baby1{

    height: 220px;
    width: 215px;
    background-size:cover;
    margin-bottom: 10px;
}
